{
  "CN": "etcd",
  "hosts": [
    "localhost",
    "127.0.0.1",
  {% for instance in groups['etcd'] %}
  "{{ hostvars[instance].ansible_all_ipv4_addresses | first }}",
  {% endfor %}
  "{{ master_ip }}"
],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "VN",
      "L": "VietNam",
      "O": "Kubernetes",
      "OU": "etcd",
      "ST": "CocCoc"
    }
  ]
}
