- name: get join command
  shell: kubeadm token create --print-join-command
  register: join_command_raw
  delegate_to: "{{ groups['control-plane'][0] }}"

- name: set join command
  set_fact:
    join_command: "{{ join_command_raw.stdout_lines[0] }}"
  # delegate_to: "{{ groups['control-plane'][0] }}"

- name: Reset Kubernetes component
  shell: "kubeadm reset --force --cri-socket={{ cri_socket }}"
  register: reset_cluster

- name: join cluster
  shell: "{{ join_command }}"
  register: join_cluster
  notify:
    - Recreate kube-dns

# - name: Join to Kubernetes cluster
#   when: reset_cluster is succeeded
#   shell: |
#     kubeadm join --token {{ token }} \
#                 --cri-socket={{ cri_socket }} \
#                 {{ master_ip }}:6443
#   register: join_cluster
#   notify:
#     - Recreate kube-dns