- name: Check if etcd has already run
  stat:
    path: "/etc/kubernetes/pki/etcd/"
  register: etcd_ca

- name: Init cluster
  include_tasks: init.yml
  when: etcd_cluster == 'true' and etcd_deployment == 'kubeadm' and not etcd_ca.stat.exists